.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.info>div{
    border: 2px solid ;
    border-image: linear-gradient(45deg, #95342D, #E1544A,#95342D, #E1544A, #95342D) 1;
    padding: 4%;
    background-color: #17161D;
}

.info>div>div>table{
    color: white;
    padding: 4% 2%;
    width: 100%;
    height: 100%;
}
tr{
    margin: 10% 0%;
    text-align: left;
}
td{
    text-align: right;
    color: #747474;
}

.price-val{
    font-size: 2rem;
}
.price-val>p{
    background:linear-gradient(180deg,#A08440 10%,#E5D79B 40%,#F3E5A6 40%) ;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900  ;
}

.temple{
    display: flex;
    flex-direction: row;
    padding: 4%;
    justify-content: space-around;
    align-items: center;
}

.temple>div>p{
    margin:0
}

p{
    color: white;
    font-weight: 800;
}

.p-val{
    color: #747474;
    font-size: 1.9rem;
}

.bar{
    background-color: #E1544A;
    display: flex;
    flex-direction: row;
    color: black;
    margin-top: 2%;
    padding:0% 2%;
    align-items: center;
    gap: 10px;
    flex-flow: wrap;
}

.logo-bar{
    height: 40px;
    width: 40px;
}
.logo-bar>img{
    height: 100%;
    width: 100%;
}

#ca{
    color: black;
}

.wallet{
    display: flex;
    border: 2px solid ;
    border-image: linear-gradient(45deg, #95342D, #E1544A,#95342D, #E1544A, #95342D) 1;
    padding: 70px 50px;
    align-items: flex-start;
    flex-direction: column;
    background: url("./img.png");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
}


.wallet>div>p{
    text-align: left;
    font-size: 1.4rem;
    margin:0;
}

.wallet>div>p:nth-child(2){
    color: #95342D;
    font-size: 28.5pt;
}


@media screen and (max-width: 750px) {
    .info{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .bar{
        display: none;
    }
    .temple{
        flex-direction: column;
    }
  
    .wallet{
        padding: 60px 45px;
    }
    .token-info{
        height: 300px;
    }
}

@media  screen and (max-width:400px) {
    .wallet{
      padding: 20px 20px;
    }
  }
#chart>p{
    font-size: 1.4rem;
    background:linear-gradient(180deg,#A08440 10%,#E5D79B 40%,#F3E5A6 40%) ;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: charts;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes charts {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.tv-lightweight-charts{

animation-name: showUp;
animation-duration: 2s;
}

@keyframes showUp {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

   }
