.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    padding: 2% 4%;
    align-items: center;
}

.buy-btn{
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #E1544A;
    background: linear-gradient(90deg,#95342D,#E1544A,#95342D);
    color: white;
    padding: 1% 5%;
    font-family: 'Inter' sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
}

@media screen and (max-width:490px) {
    .nav{
        flex-direction: column;
        padding: 4% 2%;
    }
    .buy-btn{
        margin-top: 5%;
    }


}