.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    padding: 2% 4% 20px ;
    align-items: center;
}

.buy-btn{
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #E1544A;
    background: linear-gradient(90deg,#95342D,#E1544A,#95342D);
    color: white;
    font-family: 'Inter' sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
    height: 45px;
    width: 190px;
    text-align: center;
}

@media screen and (max-width:750px) {
    .nav{
        margin:2%;
        flex-direction: column;
    }
    #b{
        display: none;
    }
    .image-logo{
        margin-top: 4%;
    }
}
@media screen and (max-width:490px) {
    .nav{
        padding: 4% 2%;
    }



}